<!DOCTYPE html>
<!--

    /\__/\
   /`    '\
 === 0  0 ===
   \  --  /
  /        \
 /          \
|            |
 \  ||  ||  /
  \_oo__oo_/#######o

  Miaou ! Si tu es ici, c'est que tu cherches à me hacker... petit⋅e curieux⋅se !
  Voici mon corps, mon ossature, mon squelette... mon HTML !

  Si tu parviens à franchir toutes les étapes, alors tu auras accès au plus grand secret de Simplon *miaou miaou miaou* ! De plus petites récompenses t'attendent également en chemin.

  À chaque étape il te faudra revenir dans le code HTML, ici, afin de prendre connaissance des règles relatives à l'étape à laquelle tu te trouves.

  Mon conseil... *miaaaaouuuu* ouvre tes chakras et persévère. La solution est souvent plus simple que l'on ne l'imagine !

  Règles pour l'étape #0 : Ton premier objectif se trouve sur ma page de connexion. Charge à toi de deviner mon URL !

-->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Simplon Hackable</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1>
      Simplon Hackable!
      <br><small>Tu veux découvir les dernières nouveautés Simplon ? Alors joue et hack ce site web !</small>
    </h1>
  </header>

  <main>
    <h1>C'est quoi ce truc ?</h1>
    <p>
      <stroke>C'est un jeu de hack pour toutes et tous.
      tu veux connaître des nouvelles fraiches sur Simplon ? Alors tu dois hacker ce site web. No stress, c'est du tout niveau, même hyper débutant. Aussi, à plusieurs c'est encore plus fun ! Alors monte ta team de hackeur⋅se⋅s et vient me défier !
      <br>
    </p>

    <h2>Comment ça marche ?</h2>
    <p>
      Facile ! Comme tout bon⋅ne hackeur⋅se, commence par inspecter le code source, comme cela :
      <img src="images/source-code.gif" alt="gif illustrant l'ouverture de la console web dans le navigateur">
      <br>Ensuite, explore, tout est expliqué directement dans le code ! Have fun !
    </p>
  </main>
  <script src="js/index.js"></script>
</body>
</html>