<!DOCTYPE html>
<!--

    /\__/\
   /`    '\
 === 0  0 ===
   \  --  /
  /        \
 /          \
|            |
 \  ||  ||  /
  \_oo__oo_/#######o

  Miaou ! Si tu es ici, c'est que tu as passé l'étape #1. Bravo *miaou* !

  En récompense, voici la deuxième info, la première vidéo expliquant la pédago de Simplon : https://drive.google.com/file/d/1LDz3vZXnSf3uGN2pbnslWzI4aC8P8hBo/view

  Règles pour l'étape #2 et dernière étape : 
    1. regarde bien depuis cette page comment lancer une fonction JavaScript depuis la console web
    2. rdv dans le fichier javascript
    3. lance la fonction qui ne demande que ça !

-->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Simplon Hackable</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1>
      Simplon Hackable!
      <br><small>Tu veux découvir les dernières nouveautés Simplon ? Alors joue et hack ce site web !</small>
    </h1>
  </header>

  <main>
    <h1>Comment lancer une fonction JavaScript du site web ?</h1>

    <p>
      C'est quoi JavaScript ? C'est un langage de programmation utilisé dans le navigateur web (chrome, firefox, etc).
    </p>
    <p>
      Il est possible d'executer du code JavaScript défini par un site web directement à partir de ce que l'on appelle la "console web". Par exemple, ce site web dispose d'un fichier javascript "app.js" qui lui même dispose d'une fonction "hello". Voici comment exécuter cette fonction en question :
    </p>
    <img src="images/fonction-js.gif" alt="exécution d'une fonction js depuis la console web">
  </main>
  <script src="js/app.js"></script>
</body>
</html>