<!DOCTYPE html>
<!--

    /\__/\
   /`    '\
 === 0  0 ===
   \  --  /
  /        \
 /          \
|            |
 \  ||  ||  /
  \_oo__oo_/#######o

  Miaou ! Si tu es ici, c'est que tu cherches à me hacker... petit⋅e curieux⋅se !
  Voici mon corps, mon ossature, mon squelette... mon HTML !

  Tu es sur la page des règles, donc nul besoin d'être ici jeune padawan !

-->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Simplon Hackable</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1>
      Simplon Hackable!
      <br><small>Tu veux jouer ? Tu veux hacker ? Tu veux que je te révèles des secrets ? Alors, jouons !</small>
    </h1>

    <nav>
      <ul>
        <li>
          <a href="">Règle du jeu</a>
          <a href="">À propos</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Étape #0</h1>
    <p>

    </p>

    <h2></h2>
    <p>

    </p>
  </main>

  <footer>
    Made with &hearts; by Louis for <a href="https://simplon.co">Simplon</a>
  </footer>
  <script src="js/app.js"></script>
  <script>
    App.run();
  </script>
</body>
</html>